#root .ant-tabs-left {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

#root .ant-tabs-tabpane-active, #root .ant-tabs-content-left {
  height: 100%;
  padding: 0;
}

#root .ant-tabs-tab, #root .ant-tabs-nav-add {
  border-radius: 15px;
  padding: 10px;
  border: 0;
}

#root .ant-tabs.transparent .ant-tabs-nav::before {
  border: none;
}

#root .ant-tabs-nav-add {
  background-color: var(--second-background-color);
}
#root .ant-tabs-left .ant-tabs-nav-list {
  background-color: var(--background-color);
  padding: 0 0.5vw;
}
#root .ant-tabs-left.transparent .ant-tabs-nav-list {
  background-color: transparent;
}

#root .ant-tabs-left.transparent .ant-tabs-content-holder {
  border: none;
  padding: 0;
}

#root .ant-tabs-left[data-center="true"] .ant-tabs-nav .ant-tabs-nav-list {
  justify-content: center;
}
#root .ant-tabs-content-holder {
  height: 100%;
}
#root .ant-tabs.scrollable {
  width: 100%;
}
#root .ant-tabs.scrollable .ant-tabs-content  {
  width: 100%;
  height: 56vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-left: 5vw;

}


/*make the settings tab at the bottom*/
#root .ant-tabs-tab[data-node-key="settings"]{
  margin-top: auto !important;
  margin-bottom: 5px;
}
