.View {
  position: absolute;
  bottom: 0;
}

.pathSelector {
  width: 30vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  position: relative;
}

.pathSelector .textArea {
  width: 40vw;
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
  overflow-wrap: normal;
  /* background-color: var(--hover-background-color);*/
  font-size: 2.5vw;
  color: var(--text-color);
  border-radius: 10px;
}

.pathSelector .icon {
  width: 3vw;
  height: 3vw;
  position: absolute;
  left: -4vw;
  top: 50%;
  transform: translateY(-50%);
}

.VersionTool {
  width: 100%;
  min-height: 350px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: flex-start;
}

.VersionTool .scrollable {
  width: 100%;
  overflow-y: scroll;
  gap: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding-left: 5vw;
}

.VersionTool .card {
  flex: none;
}
