.AuthModule {
  max-width: 40vw;
  min-width: 25vw;
  height: fit-content;
  min-height: 11vh;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--background-color);
  border-radius: 0 0 15px 15px;
  z-index: 10;
}

.Dropdown {

}

.AuthModule .SelectedUser,
.Dropdown .SelectedUser {
  background-color: transparent;
  max-width: 33vw;
}


.Dropdown .AddButton {
  border: none;
  width: 100%;
  height: 9vh;
  padding: 0;
  background-color: var(--second-background-color);
}

.Dropdown .AddButton .icon {
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.Dropdown .AddButton:hover .icon {
  transform: scale(1.2);
}

/*Ant render dropdown out of parent component*/
.Dropdown .User {
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.Dropdown .User:hover {
  /* background-color: var(--hover-background-color);*/
}

.Dropdown .User.selected {
  background-color: var(--hover-background-color);
}


