.AuthProviderCard {
  width: 100%;
  height: 10vh;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}
.AuthProviderCard.Microsoft::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(159deg, rgba(255, 87, 34, 1) 0%, rgba(76, 175, 80, 1) 100%);
  filter: blur(20px);
  transition: opacity 0.3s;
  border-radius: 10px;
  opacity: 0;
  z-index: 0;
}

.AuthProviderCard.Microsoft:hover::before {
  opacity: 0.6;
}

.AuthProviderCard .content {
  width: 100%;
  height: 100%;
  background-color: var(--second-background-color);
  display: flex;
  align-items: center;
  gap: 2vw;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.AuthProviderCard .icon {
  height: 5vw;
  width: 5vw;
  border-radius: 5px;
}

.AuthProviderCard .label {
  font-size: 3vw;
}

.AuthProviderCard .stateIcon {
  width: 2vw;
  height: 2vw;
}
