.Button {
  text-align: center;
  background-color: var(--hover-background-color);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Button .img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.Button.square {
  height: 3vw;
  width: 3vw;
}

.Button.styleLess {
  background-color: transparent;
  padding: 0;
}

.Button.danger {
  background-color: var(--unvalid);
}


/*******************/
.input {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5vw;
}

.input .label {
  word-break: keep-all;
  white-space: nowrap;
}
