.LaunchButton {
  align-items: center;
  backdrop-filter: blur(4px);
  background: #1e954e;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 12vh;
  min-width: 300px;
  padding: 10px 1vw;
  transition: all .5s;
  position: relative;
  z-index: 1;
  --bg-error: linear-gradient(159deg, #ff3c00 0%, #aa003b 100%);
  --bg-launched: linear-gradient(159deg, #22ff52 0%, rgba(76, 175, 80, 1) 100%);
  --bg-loading: linear-gradient(159deg, #159cf7 0%, #0a57d2 100%);
  --bg-normal: linear-gradient(124deg, rgba(21, 230, 99, 1) 0%, rgba(20, 218, 171, 1) 62%);
  --bg-offline: linear-gradient(159deg, #dedede 0%, #9fa9c5 100%);
}

.LaunchButton.Square {
  width: 5vw;
  height: 5vw;
  min-width: 5vw;
}

.LaunchButton.Square::before {
  width: 5vw;
  height: 5vw;
  min-width: 5vw;
}

.LaunchButton .Content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  justify-content: center;
  min-width: 100%;
}

.LaunchButton .runContent {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 1;
  gap: 15px;
  height: 100%;
  justify-content: center;
  order: 0;
  padding: 0;
}

.LaunchButton .runContent .icon {
  height: 100%;
  transform: scale(2);
  transition: all .3s ease-in-out;
  width: 2vw;
}

.LaunchButton .runContent .text {
  align-items: center;
  display: flex;
  flex: none;
  flex-grow: 0;
  font: 400 54px/74px SquareFont, serif;
  height: 100%;
  order: 1;
  text-align: center;
  transition: all .3s ease-in-out;
  width: auto;
}

.LaunchButton.Error, .LaunchButton.Error::before {
  background: var(--bg-error);
}

.LaunchButton.Launched:not(.Square) .runContent .icon {
  opacity: 0;
  width: 0;
}

.LaunchButton.Launched .runContent, .LaunchButton.Error .runContent, .LaunchButton.Loading .runContent, .LaunchButton.Loading .LoadingContent .ProgressBar {
  flex: 2;
}

.LaunchButton.Launched .versionSelectorLoader, .LaunchButton.Error .versionSelectorLoader, .LaunchButton.Loading .versionSelectorLoader {
  flex: 0;
}

.LaunchButton.Launched, .LaunchButton.Launched::before {
  background: var(--bg-launched);
}

.LaunchButton.Loading {
  background: var(--bg-loading);
  gap: 5px;
  height: fit-content;
}

.LaunchButton.Loading .LoadingContent {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 3vh;
  justify-content: center;
  width: 100%;
}

.LaunchButton.Loading .runContent .icon, .LaunchButton.Error .runContent .icon {
  transform: scale(1);
}

.LaunchButton.Loading .runContent .text, .LaunchButton.Error .runContent .text, .LaunchButton.Launched .runContent .text {
  font-size: 40px;
}

.LaunchButton.Loading::before {
  background: var(--bg-loading);
}

.LaunchButton.offlineStyle {
  background-color: gray;
}

.LaunchButton.offlineStyle::before {
  background: var(--bg-offline);
}

.LaunchButton::before {
  background: var(--bg-normal);
  border-radius: 20px;
  content: '';
  display: block;
  filter: blur(20px);
  top: 0;
  opacity: .4;
  position: absolute;
  transform: scale(1.2);
  transition: opacity 0.3s, all .5s;
  width: 30vw;
  height: 12vh;
  z-index: -1;
  flex: none;
}

.LaunchButton:hover, .LaunchButton[data-version-selector='true'][data-version-selector-opened='true'], .LaunchButton.Loading, .LaunchButton.Error, .LaunchButton.Launched {
  transform: scale(1.1);
}

.LaunchButton:not(.Loading) .LoadingContent {
  height: 0;
  overflow: hidden;
}

.LaunchButton[data-version-selector='true'] .line {
  border-inline-start-width: 2px;
  height: 12vh;

}

.LaunchButton[data-version-selector='true'] .runContent {
  align-self: stretch;
  gap: 6px;
  order: 1;
  transition: all .3s ease-in-out;
  z-index: 0;
}

.LaunchButton[data-version-selector='true'] .runContent:hover + .versionSelectorLoader .versionSelector .dataContainer .dropdownIcon, .LaunchButton[data-version-selector='true'].Launched .runContent + .versionSelectorLoader .versionSelector .dataContainer .dropdownIcon, .LaunchButton[data-version-selector='true'].Error .runContent + .versionSelectorLoader .versionSelector .dataContainer .dropdownIcon, .LaunchButton[data-version-selector='true'].Loading .runContent + .versionSelectorLoader .versionSelector .dataContainer .dropdownIcon {
  width: 0;
}

.LaunchButton[data-version-selector='true'] .runContent:hover + .versionSelectorLoader .versionSelector .dataContainer, .LaunchButton.Loading .runContent + .versionSelectorLoader .versionSelector .dataContainer, .LaunchButton.Error .runContent + .versionSelectorLoader .versionSelector .dataContainer, .LaunchButton.Launched .runContent + .versionSelectorLoader .versionSelector .dataContainer {
  gap: 0;
}

.LaunchButton[data-version-selector='true'] .versionSelector {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0;
  gap: 10px;
  height: 100%;
  isolation: isolate;
  order: -1;
  padding: 0;
  transition: .3s ease-in-out;
  width: 100%;
}

.LaunchButton[data-version-selector='true'] .versionSelector .dataContainer {
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 17px;
  height: 100%;
  justify-content: center;
  order: 0;
  padding: 10px;
  transition: all .5s ease-in-out;
  width: 100%;
}

.LaunchButton[data-version-selector='true'] .versionSelector .dataContainer .dropdownIcon {
  flex: none;
  flex-grow: 0;
  height: 100%;
  order: 0;
  transform: scale(1.3);
  transition: all .3s ease-in-out;
  width: 2vw;
}

.LaunchButton[data-version-selector='true'] .versionSelector .dataContainer .versionText {
  flex: none;
  flex-grow: 1;
  font: 400 30px/46px SquareFont, serif;
  order: 1;
  text-align: center;
  width: fit-content;
}

.LaunchButton[data-version-selector='true'] .versionSelector .dataContainer:hover .dropdownIcon, .LaunchButton[data-version-selector='true'][data-version-selector-opened='true'] .versionSelector .dataContainer .dropdownIcon {
  transform: scale(1.3) translateY(3px);
}

.LaunchButton[data-version-selector='true'] .versionSelector .versionListDropdown {
  background: var(--background-color);
  border-radius: 15px;
  left: 0;
  max-height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 10px;
  position: absolute;
  top: calc(100% + 3px);
  transition: all .3s ease-in-out;
  width: 40%;
  flex: 1 1 auto;
  min-height: 0;
}


.LaunchButton[data-version-selector='true'] .versionSelector .versionListDropdown .version {
  margin: 1vh 0;
  height: 6vh;
  box-sizing: content-box;
  padding: 0.5vh 1vw;

}

.LaunchButton[data-version-selector='true'] .versionSelectorLoader {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
  transition: .3s ease-in-out;
  width: 40%;
}

.LaunchButton[data-version-selector='true'] .versionSelector .versionListDropdown .version.versionSelected {
  background-color: var(--valid);
}

.LaunchButton[data-version-selector='true']:not(.Loading):not(.Error):not(.Launched) .Content {
  gap: 4px;
}

.LaunchButton[data-version-selector='true']:not(.Loading):not(.Error):not(.Launched) .runContent .icon {
  transform: scale(1.4);
}

.LaunchButton[data-version-selector='true']:not(.Loading):not(.Error):not(.Launched) .runContent .text {
  font-size: 40px;
  line-height: 52px;
}

.LaunchButton[data-version-selector='true']:not(.Loading):not(.Error):not(.Launched) .runContent:hover .icon {
  transform: scale(2);
}

.LaunchButton[data-version-selector='true']:not(.Loading):not(.Error):not(.Launched) .runContent:hover .text {
  font-size: 45px;
}

.LaunchButton[data-version-selector='true'][data-version-selector-opened='false'] .versionSelector .versionListDropdown {
  max-height: 0;
  padding: 0 10px;
}
