@import 'react-toastify/dist/ReactToastify.css';

@font-face {
  font-family: SquareFont;
  src: url(./../assets/fonts/Square.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);


}

* {
  user-select: none;
  -webkit-user-drag: none;
}

#root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #302f2f;
  --toastify-color-info: #0396ff;
  --toastify-color-success: #24f106;
  --toastify-color-warning: #ffb103;
  --toastify-color-error: #f10606;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /*Used only for colored theme*/
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /*Used when no type is provided*/
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /*Used when no type is provided*/
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);


  --normal-size: 2vw;
  --big-size: 3vw;
  --bush-primary: #1e954d;
}


#root,
body,
html,
#MAIN,
#Theme-container,
.Theme-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-thumb {
  background: var(--hover-background-color);
  border-radius: 8px;
}

p {
  color: var(--text-color);
  font-size: var(--normal-size);
  font-family: SquareFont, serif;
}
