@font-face {
  font-family: SquareFont;
  src: url(./../assets/fonts/Square.ttf);
}

@font-face {
  font-family: Zelta-Six;
  src: url(./../assets/fonts/Zelta-Six.otf);
}
@font-face {
  font-family: Octosquares;
  src: url(./../assets/fonts/Octosquares-Trial-Compressed-Regular.ttf);
}
@font-face {
  font-family: Terabite;
  src: url(./../assets/fonts/TerabiteRegular.ttf);
}
