/*noinspection CssUnusedSymbol*/
.Theme-Dark {
  --base-background-color: #0a0a0a;
  --background-color: #1a1919;
  --second-background-color: #302f2f;
  --third-background-color: #4b4949;
  --hover-background-color: #5a5858;
  --bush-background-color: #252d27;
  --text-color: #fff;
  --unvalid: #932a2a;
  --unvalid-secondary: #633434;
  --valid: #39c457;
  --valid-secondary: #2d8640;
}
