.Theme-Dark {
  --background-color: #232323;
  --background-color-opacity: hsla(0, 2%, 12%, 0.82);
  --second-background-color: #302f2f;
  --third-background-color: #4b4949;
  --hover-background-color: #5a5858;
  --hover-background-color-opacity: #5a5858b3;
  --bush-background-color: #252d27;
  --text-color: #fff;
  --unvalid: #932a2a;
  --unvalid-secondary: #633434;
  --valid: #39c457;
  --valid-secondary: #2d8640;
}
